@charset "UTF-8";

body {
	
	background-color: linen;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:dimgrey;
	font-size: 30px;
	
}
